.typeChart{
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    border: 1px solid white;
}
div{
    border: 1px solid black;
    text-align: center;
    width: 75px;
    background-color: #f4f077;
}
.blank{
    border: 1px solid white;
    background-color: white;
}
.o2{
    background-color: rgba(0, 255, 128, 0.753);
}
.o0{
    background-color: dimgray;
}
.o05{
    background-color: crimson;
}
td{
    background-color: khaki;
}
.normal{
    background-color: burlywood;
}
.fight{
    background-color: firebrick;
}
.fire{
    background-color: red;
}
.water{
    background-color: blue;
    color: white;
}
.grass{
    background-color: forestgreen;
}
.electric{
    background-color: yellow;
}
.fly{
    background-color: deepskyblue;
}
.ice{
    background-color: lightblue;
}
.rock{
    background-color: darkgoldenrod;
}
.ground{
    background-color: goldenrod;
}
.steel{
    background-color: silver;
}
.ghost{
    background-color: purple;
    color: white;
}
.psy{
    background-color: violet;
}
.dark{
    background-color: darkslategray;
    color: white;
}
.dragon{
    background-color: navy;
    color: white;
}
.fairy{
    background-color: lightpink
}
.poison{
    background-color: indigo;
    color: white;
}
.bug{
    background-color: lawngreen;
}
th, td{
    text-align: center;

}
h1{
    font-size: 25px;
    Border: medium solid white;
    background-color: white;
    text-align: center;
}
h2{
    font-size: 22px;
    Border: medium solid white;
    background-color: white;
    text-align: center;
}
